div#turn {
  width: 3.7em;
  height: 3.2em;
  border-radius: 5px;
  display: none;
}

div#container {
  width: 38%;
  display: inline-block;
  padding: .5em;
  perspective: 70em;
  margin: 3em;
}

div#board {
  transform: rotateX(45deg);
}

#board .box-position {
  width: 3em;
  height: 3em;
  margin-left: .3em;
  background: #ccc;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 5px;
}

#board .area {
  border-color: #fff;
  background: #F1F193;
}

.character {
  width: 3em;
  height: 3em;
  margin-left: .3em;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
}

.character span {
  margin: 0;
  padding: 0;
  position: absolute;
}

.W1 {
  background: #F87F69;
}

.W2 {
  background: #B85E4D;
}

.Ar1 {
  background: #75C358;
}

.Ar2 {
  background: #51843E;
}

.H1 {
  background: #3DD2BC;
}

.H2 {
  background: #2F9F8E;
}

.attack-posible {
  background: rgba(205, 94, 94, .2)
}

.heal-posible {
  background: rgba(98, 211, 91, .4)
}

#restart {
  display: none;
}