section#global {
  width: 38%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#turn {
  width: 3.7em;
  height: 3.2em;
  border-radius: 5px;
  display: none;
}

div#container {
  width: 590px;
  display: inline-block;
  padding: .5em;
  perspective: 70em;
}

div#board {
  transform: rotateX(45deg);
}

#board .box-position {
  width: 3em;
  height: 3em;
  margin-left: .3em;
  background: #ccc;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 5px;
}

#board .area {
  border-color: #fff;
  background: #F1F193;
}

.character {
  width: 3em;
  height: 3em;
  margin-left: .3em;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
}

span {
  margin: 2px;
  padding: 0;
  position: absolute;
  color: #2D2D2D;
}

span.atk {
  margin-top: 1.3em;
  font-size: 0.8em;
}

span.current-turn {
  margin-left: .3em;
}

.W1 {
  background: #F87F69;
}

.W2 {
  background: #9E5648;
}

.Ar1 {
  background: #75C358;
}

.Ar2 {
  background: #4E7B3C;
}

.H1 {
  background: #3DD2BC;
}

.H2 {
  background: #2D887A;
}

.attack-posible {
  background: rgba(205, 94, 94, .2)
}

.heal-posible {
  background: rgba(98, 211, 91, .4)
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#restart {
  display: none;
  margin-top: 250px;
}