div#battle {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -24%)
}

section#global {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

div#turn {
  width: 3.7em;
  height: 3.2em;
  border-radius: 5px;
  display: none;
}

div#container {
  margin-top: 5em;
  width: 750px;
  display: inline-block;
  padding: .5em;
  perspective: 70em;
}

#board .box-position {
  width: 4em;
  height: 4em;
  margin-left: .3em;
  /* background: #ccc; */
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#board .area {
  border-color: #fff;
  background: #F1F193;
}

.character {
  width: 4em;
  height: 4em;
  margin-left: .3em;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
}

span {
  margin: 2px;
  padding: 0;
  position: absolute;
  color: #2D2D2D;
}

#turn span {
  margin-left: 4em;
}

#turn span.atk {
  margin: 1.3em 0 0 5em;
  font-size: 0.8em;
}

#turn span.current-turn {
  margin-left: .3em;
}

.W1 {
  background-image: url("../img/warrior1.png");
  background-size: contain;
}

.W2 {
  background-image: url("../img/warrior2.png");
  background-size: contain;
}

.Ar1 {
  background-image: url("../img/archer1.png");
  background-size: contain;
}

.Ar2 {
  background-image: url("../img/archer2.png");
  background-size: contain;
}

.H1 {
  background-image: url("../img/healer1.png");
  background-size: contain;
}

.H2 {
  background-image: url("../img/healer2.png");
  background-size: contain;
}

.attack-posible {
  box-sizing: border-box;
  border: 2px solid #DA6F5A;
}

.heal-posible {
  box-sizing: border-box;
  border: 2px solid #6c0;
}

button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:active {
  margin-top: .3em;
}

button:focus {
  outline: none;
}

#restart {
  display: none;
  margin-top: 350px;
}